/*Extra small screens*/

@media only screen and (max-width: 320px) {}
@media only screen and (max-height: 400px) {
    body {
        font-size: 14px;
    }
    .main h1 {
        padding-top: 120px;
    }
    .logo {
        width: 50%;
    }
    .btn {
        padding: 5px 20px 5px 20px;
    }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */


/* viewport size <= 320px ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}
* Styles */
}
