/**
TABLE OF CONTENTS
* CH01 - Page Structure
* CH02 - Typography
* CH03 - Reusable Styling (e.g. buttons)
* CH04 - Landing page
* CH05 - Timetable
* CH06 - Downloads

* CH08 - Media queries
**/
/*CH01 - Page Structure*/
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    background: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

section {
    height: 100vh;
    min-height: 400px;
}
/** CH02 - Typography*/
/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    font-size: 1.125rem;
    line-height: 1.8;
}
/** CH03 - Reusable Styling (e.g. buttons)*/
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-horizontally {
    margin: 0 auto;
    text-align: center;
}

.fa {
    padding: 10px;
}

.btn-default {
    background: none;
    border: 2px solid #1a7aac;
    padding: 10px 0;
    width: 250px;
    margin: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #1a7aac;
}

.btn-default:hover {
    background: rgba(26, 122, 172, 0.8);
    color: white;
    border: none;
}
/* HOME PAGE*/
.img-responsive.logo {
    height: 80%;
    padding: 10px;
}

.main {
    background-image: url("../images/wallpaper-min.png");
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 320px;
}
/*.main > .row {
    min-width: 80px;
    width: 100%;
}*/
.main h1 {
    color: #1a7aac;
    /*font-size: 5vw;*/
    /*font-size: 5vw;*/
    /*color: white;*/
}
/*TIMETABLE*/
/*Tabs adapted from [Oliver Knoblich](https://codepen.io/oknoblich/full/tfjFl/)*/
#schedule {
    padding: 30px 0 20px;
}

.week {
    margin: 0 auto;
}

.day {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

span.shorter {
    display: none;
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked+ label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #1a7aac;
    border-bottom: 1px solid #fff;
}

#friday:checked~ #friday-content,
#monday:checked~ #monday-content,
#thursday:checked~ #thursday-content,
#tuesday:checked~ #tuesday-content,
#wednesday:checked~ #wednesday-content {
    display: block;
}
/*.logistics {
text-align: left;
}*/
h3 {
    line-height: 0.7;
}

.subtitle {
    font-family: 'Lato', Helvetica, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    font-size: 110%;
}

.logistics p {
    font-size: 95%;
}

.fa.fa-glass {
    padding: 0 50px 0 0;
}
/*ACCORDION*/
.accordion {
    background: none;
    color: #555;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    border-top: 1px solid #1a7aac;
    outline: none;
    transition: 0.4s;
}

.accordion.borders {
    border-bottom: 1px solid #1a7aac;
}

.accordion:hover {
    color: #888;
    cursor: pointer;
}

.accordion .active {
    background: rgba(26, 122, 172, 0.8);
    color: white;
    border: none;
}

.events {
    padding: 0 18px;
    display: none;
}

.events .show {
    display: block;
}

button.accordion:after {
    font-family: "FontAwesome";
    content: '\f078';
    font-size: 13px;
    float: right;
    color: #1a7aac;
    margin-left: 5px;
}

button.accordion.active:after {
    font-family: "FontAwesome";
    content: '\f077';
    /* Unicode character for "minus" sign (-) */
}
/*Downloads*/
.downloads {
    height: auto;
    padding: 50px 0 5em;
    background-attachment: scroll;
    background-image: url("../images/downloads.jpg");
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*FOOTER STYLING*/
footer {
    background: #555;
    width: 100%;
    height: auto;
}

footer p {
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 80%;
}

.bold {
    font-size: 110%;
    font-weight: bold;
}

footer i {
    padding-left: 2%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    /*color: orange;*/
    color: #24b57a;
    /*color: white;*/
    text-decoration: none;
}

.bold {
    font-size: 110%;
    font-weight: bold;
}

footer i {
    padding-left: 2%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    /*color: orange;*/
    color: #24b57a;
    /*color: white;*/
    text-decoration: none;
}
/*Media Queries*/
/*@media screen and (min-height: 450px) and (min-width: 450px) {
    .logo {
        height: 80%;
    }
}*/
@media screen and (max-height: 500px) {
    img.logo {
        width: 100px;
    }

    .main h1 {
        padding-top: 100px;
    }

    span.only-big {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    logo {
        width: 100px;
    }

    span.longer {
        display: none;
    }

    span.shorter {
        display: inline;
    }

    label {
        font-size: 14px;
        padding: 10px;
        margin: 0;
    }

    span.only-big {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    img.logo {
        width: 130px;
    }

    span.longer {
        display: none;
    }

    span.shorter {
        display: inline;
    }

    label {
        padding: 10px 20px;
        font-size: 16px;
        margin: 0;
    }

    span.only-big {
        display: none;
    }
}
@media screen and (max-width: 540px) {
    .logo {
        width: 160px;
    }

    span.longer {
        display: none;
    }

    span.shorter {
        display: inline;
    }

    label {
        font-size: 15px;
        padding: 10px;
        margin: 0;
    }

    span.only-big {
        display: none;
    }
}
@media screen and (max-width: 639px) {
    .logo {
        width: 180px;
    }

    span.longer {
        display: none;
    }

    span.shorter {
        display: inline;
    }

    span.only-big {
        display: none;
    }
}
@media screen and (min-width: 720px) {
    .logo {
        width: 180px;
    }

    h1 {
        font-size: 4.5vw;
    }
}
@media screen and (min-width: 960px) {
    h1 {
        font-size: 4.5vw;
    }
}
